.class-title {
    font-size: 9rem;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    height: 100vh;
    overflow: hidden;
}

/* Effects */

.letter {
    transition: all .1s ease;
}

.added {
    background-color: black;
}
